/* caveat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/caveat-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body {
    
    font-family: 'Caveat';
    margin: auto;
    padding: 0 40px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: url(../imgs/notepaper.avif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
}

li {
    font-size: 24px;
}

ul {
    width: 200px;
}